<% provide(:title, "Edit Profile") %>
<% provide(:button_text, "Edit Profile") %>
<div class="banner">
</div>

<div class="grid-form">
  <div class="grid-form1">
     <h3>Edit User</h3>
     <%= render "users/userform" %>
   </div>
</div>
