<% provide(:title, "Add User") %>
<% provide(:button_text, "Create User") %>
<div class="banner">
</div>

<div class="grid-form">
  <div class="grid-form1">
     <h3>Add User</h3>
     <%= render "users/userform" %>
   </div>
</div>
