<footer class="row copyright">
  <div class="col-md-12 text-center">
    <p>
      <small class="block">&copy; 2017 Simple Blog. All Right Reserved.</small>
      <small class="block">Template by <%= link_to 'Day 001', 'http://codepen.io/khadkamhn/pen/ZGvPLo' %>. Development & Hosting by <%= link_to 'MisterStark.ID', 'http://misterstark.id' %></small>
    </p>
  </div>
</footer>
