<% provide(:title, "Create Post") %>
<% provide(:button_text, "Publish") %>
<% provide(:button_text2, "Save to Draft") %>
<div class="banner">
  <%= link_to render_breadcrumbs %>
</div>

  <%= render "posts/formPost" %>

</div>
